<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Groups Generator</h1>
        <div class="sub_head">
            <nav>
                <a href="http://localhost:8080/students">Students</a>
                <a href="#">Groups</a>
            </nav>
        </div>
    </header>

    <section class="content_generator">
        <h1>List of Groups</h1>
        <div class="input_result">

        </div>
        <form action="" id="scd_form">
            <input type="text" placeholder="Enter a project name" name="proj_name">
            <input type="number" name="number" placeholder="nb students by group" id="">
            <button class="btn" type="submit">Create</button>
        </form>
    </section>

    <script src="/app.js"></script>
</body>
</html>